<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <!-- 定义文件输出格式, 编码方式, 输出文件的路径 -->
    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} -%5p ${PID:-} [%15.15t] %-40.40logger{39} : %m%n"/>
    <property name="charsetEncoding" value="UTF-8"/>
    <property name="logPath" value="D:/webLog"/>

    <!--控制台日志-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>${charsetEncoding}</charset>
        </encoder>
    </appender>




    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

</configuration>
